<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <title>$NAME$</title>
   <meta name="description" content="$DESCRIPTION$" />
   <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<div id="site-header">
   <h1>$NAME$</h1>
   <div id="site-description">$DESCRIPTION_HTML$</div>
   <div id="site-uploaded">Uploaded: $INSERT_DATE$ (UTC)</div>
</div>
<div id="site-header-sep"><hr/></div>
<div id="site-contents">
   $CONTENT$
</div>
<div id="site-footer-sep"><hr/></div>
<div id="site-footer">
   <p><a href="/?newbookmark=$INSERT_URI$&desc=$NAME$&hasAnActivelink=true">Bookmark this freesite</a>&nbsp;&nbsp;<a href="source.txt">View the source</a>&nbsp;&nbsp;<a href="style.css">View the style</a>&nbsp;&nbsp;<a href="keys.txt">Extracted keys</a>&nbsp;&nbsp;<a href="/$CHECK_UPDATES_URI$">Check for updates</a></p>
   <p>This freesite was created using the <a href="/USK@dCnkUL22fAmKbKg-Cftx9j2m4IwyWB0QbGoiq1RSLP8,4d1TDqwRr4tYlsubLrQK~c4h0~FtmE-OXCDmFiI8BB4,AQACAAE/Sharesite/-13/">Sharesite plugin</a></p>
</div>
</body>

</html>
