<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <title>$NAME$</title>
   <meta name="description" content="$DESCRIPTION$" />
   <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
   <h1>$NAME$</h1>
   <p>$DESCRIPTION$</p>
   <p>Uploaded: $INSERT_DATE$ (UTC)</p>
   <hr/>
   
   $CONTENT$
   
   <hr/>
   <p><a href="/?newbookmark=$INSERT_URI$&desc=$NAME$&hasAnActivelink=true">Bookmark this freesite</a>&nbsp;&nbsp;<a href="source.txt">View the source</a>&nbsp;&nbsp;<a href="keys.txt">Extracted keys</a>&nbsp;&nbsp;<a href="/$CHECK_UPDATES_URI$">Check for updates</a></p>
   <p>This freesite was created using ShareWiki, a modification of the <a href="/USK@9aOIc6GxaELlIj8550zM7uaOXgPhqk5ZQS0fzJzrJ78,bhzvffR2i36fTnHzHJFKGVwFLEeSYoRI4DiSBmqb-9E,AQACAAE/site/-11/">ShareLink plugin</a></p>

</body>

</html>
