body {
    max-width: 45em;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff;
    font-family: sans-serif;
}

#site-header {
    background-image: url("activelink.png");
    background-position: right top;
    background-repeat: no-repeat;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.normalline {
}

.textlinkbox {
}

.textlink {
}

.preview {
    max-width:800px;

}

.from {
    background: #e0e0e0;
    font-weight:bold;
}

.imglinkbox {
    background: #ddd;
}

.imglink {
    display: inline-block;
    width: 170px;
    text-align: center;
    vertical-align: top;
}

.imglink img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #444444;
    margin: 7px;
}

#site-header #site-uploaded {
    color: silver;
}